<template name="form">
    <div class="jumbotron">
        <h1>APP Wall</h1>
        <form>
            <!--	<input placeholder="name" type="text">
		<br>
		<input placeholder="message" type="text">
		<br>
            <div class="input-field col s6">
                <input id="first_name" class="validate" type="file" />
            </div>-->
            <div>
                <div>
                    <input name="myForm" onsubmit="return validateForm()" type="file">
                </div>
            </div>
            <br>
            <button class="btn btn-info">Submit</button>
            <button class="btn btn-info" type="reset" value="Reset">Reset</button>
        </form>
    </div>

</template>
<!--//Basic
//Milestone 1: Wireframe Design-Yes
//Milestone 2: Post Form-Yes
//Milestone 3: Functional Post Form-Yes
//Milestone 4: Form Data Validation-Yes
//Milestone 5: Display Post Text Data-No
//Milestone 6: Display Post Image Data-No
//Milestone 7: Organize Posts using Masonry-Yes
//Milestone 8: Styling-Yes
//Intermediate
//Milestone 1: Host Your Project Online-Yes
//Milestone 2: Sort Posts by Created Date-No
//Milestone 3: Add Gutters Between Posts-Yes
//Advanced
//Milestone 1: User Authentication-No
//Milestone 2: Delete Your Own Posts-No
-->
<template name="post">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        {{updateMasonry}}
                        <center><img class="img-resize" src="{{this.url}}" /></center>
                        <div class="caption">
                            <center>
                                {{this.name}} {{this.message}} {{this.createdAt}}
                            </center>
                            <center>
                                <button class="btn btn-danger delete-task" role="button">Delete</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        {{/each}}
    </div>
</template>