.grid-sizer,
.grid-item {
    width: 32%;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.img-resize {
    /*width: 500px;
    height: 225px;*/
}

.jumbotron {
    text-align: center;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.thumbnail {
    width: 320%;
}

.body {
    background-color: #E4E6C3;
}